{% extends "base.html"  %}

{% block body %} 
        <div class="container">
          <h3>You have aready login.Also can see Send,your Profile,Agree and Check.</h3>
        </div>
{% endblock %}
{% block body2 %} 
<div class="container">
          <ul class="breadcrumb ">
                  <li><a href="/app/managsend/">Send</a> <span class="divider">/</span></li>
                  <li><a href="">Profile</a> <span class="divider">/</span></li>
                  <li><a href="">Agree</a> <span class="divider">/</span></li>
                  <li><a href="">Check</a> <span class="divider">/</span></li>
          </ul>
</div>
{% endblock %}