{% extends "base.html"  %}

{% block body %} 
        <div class="container">
          <h3>You have aready login.Also can see Notice,your profile,Leave and Attend.</h3>
        </div>
{% endblock %}
{% block body2 %} 
<div class="container">
          <ul class="breadcrumb ">
                  <li><a href="/app/usernotice/">Notice</a> <span class="divider">/</span></li>
                  <li><a href="">Profile</a> <span class="divider">/</span></li>
                  <li><a href="">Leave</a> <span class="divider">/</span></li>
                  <li><a href="">Attend</a> <span class="divider">/</span></li>
          </ul>
</div>
{% endblock %}